body{
    background-color: bisque;
}

#highScores{
    position: fixed;
    left: 0px;
    top: 0px;
    text-decoration: none;
}
#timeLeft{
    position: fixed;
    right: 0px;
    top: 0px;
}
header{
    text-align: center;
    margin-top: 75px;
    /* border-bottom: 3px solid rgb(54, 63, 94); */
}
.button{
    text-align: left;
}
.question{
    display: flex;
    flex-direction: column;
}
#quiz{
    text-align: left;
    width: 400px;
    margin: auto;
}

#submit {
    display: none;
}

#choice{
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    margin: auto;
}
.mcButton{
    text-align: left;
    width: 40%;
}